<header class="bg-blue-500 text-white py-4 px-6">
  <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-2xl font-bold">CrickInformer</h1>
      <nav>
          <ul class="flex space-x-6">
              <li><a routerLink="/home" class="hover:text-gray-300">Home</a></li>
              <li><a routerLink="/live" class="hover:text-gray-300">Live Matches</a></li>
              <li><a routerLink="/history" class="hover:text-gray-300">History</a></li>
              <li><a routerLink="/point-table" class="hover:text-gray-300">Point-Table</a></li>
          </ul>
      </nav>
  </div>
</header>

<div class="container mx-auto px-16">


    <router-outlet></router-outlet>
</div>
